<div class="layout-horizontal flex-wrap grow-children">
    <div class="card display-container">
        <div class="layout-horizontal flex-children">
            <div class="div_col">
               <img src="{{technology.logo}}" alt="{{technology.author}}">
            </div>
            <div class="layout-horizontal flex-wrap">
                <ul>
                    <li>{{ technology.author }}</li>
                    <li>{{ technology.language }}</li>
                    <li>{{ technology.license }}</li>
                    <li>{{ technology.tech }}</li>
                    <li>{{ technology.type }}</li>
                    <li>{{ technology.year }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
