.thankDiv {
    align-items: center;
    text-align: center;
    padding: 50px;

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.ctnBtn {
    margin-top: 20px;
}