<div class="layout-horizontal flex-wrap grow-children">
    <div class="display-container">
        <div class="layout-horizontal space">
            <div class="flex-1">
                <img class="image" src="../../../../assets/wolox/logo_full_color.svg" alt="">
            </div>
            <div class="flex-1"></div>
            <div class="center">
                <h5>Inicio</h5>
            </div>
            <div class="center">
                <h5>Beneficios</h5>
            </div>
            <div>
                <button class="button succes">List</button>
            </div>
            <div>
                <button class="button primary">Login</button>
            </div>
        </div>
    </div>
</div>