<div class="flex-containerTitle">
    <div class="layout-horizontal flex-wrap">
        <div class="containerHeaderItem">
            <img class="image" src="../../../../assets/wolox/logo_full_color.svg" alt="WOLOX">
        </div>
        <div class="flex-1"></div>
        <div class="containerHeaderItem">
            <a class="headerA" routerLink="">Inicio</a>
        </div>
        <div class="containerHeaderItem">
            <a class="headerA" routerLink="list">Tecnologias</a>
        </div>
        <div class="containerHeaderItem">
            <a class="headerA" href="#welcome">Bienvenida</a>
        </div>
        <div class="containerHeaderItem">
            <a class="headerA" href="#benefits">Beneficios</a>
        </div>
        <div class="containerHeaderItem">
            <a class="headerA" href="#thankful">Agradecimientos</a>
        </div>
        <div class="containerHeaderItem">
            <button class="registerButton" routerLink="register">Sign up</button>
        </div>
    </div>
</div>