<div class="flex-containerTitle" id="benefits">
    <div>
        <h5>Entre los beneficios que ofrecemos se encuentran <span class="primary-text">;)</span></h5>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_Hour.svg"
        description="Flexibilidad Horaria"
    ></app-benefit-item>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_HomeOffice.svg"
        description="Home office"
    ></app-benefit-item>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_Workshops.svg"
        description="Capacitaciones y workshops"
    ></app-benefit-item>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_DrinkSnacks.svg"
        description="Snacks, frutas y bebidas gratis"
    ></app-benefit-item>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_laptop.svg"
        description="Semana remota"
    ></app-benefit-item>
    </div>
    <div class="asdRow">
        <app-benefit-item
        iconUrl="../../../../../assets/wolox/Ic_brain.svg"
        description="Trabajar en ultimas tecnologias"
    ></app-benefit-item>
    </div>
</div>

